<p class="desc">
    <svg height="5" width="100">
    <line x1="0" y1="0" x2="100" y2="0" style="stroke:#000;stroke-width:5" />
    Sorry, your browser does not support inline SVG.
  </svg><strong>&nbsp;&nbsp;&nbsp;My project world&nbsp;&nbsp;&nbsp;</strong>
  <svg height="5" width="100">
    <line x1="0" y1="0" x2="100" y2="0" style="stroke:#000;stroke-width:5" />
    Sorry, your browser does not support inline SVG.
  </svg>
</p>
<div class="img-container">
    <div class="images" *ngFor="let image of portfolios" (deferLoad)="image.show = true">
        <ng-container *ngIf="image.show">
        <a href="{{image.website}}" target="_blank">
          <img src={{image.url}}>
        </a>
        </ng-container>
    </div>
</div>