<div class="nav-container">
    <nav>
        <ul>
            <li id="javaScript">JavaScript
                <ul class="submenu">
                    <li><a routerLink="javaScript:DOM">DOM</a></li>
                    <li><a routerLink="javaScript:FREQUENTLY">OBJECT AND ARRAY</a></li>
                    <li><a routerLink="javaScript:FUNCTIONS">FUNCTIONS</a></li>
                    <li>MORE TO COME SOON</li>
                </ul>
                
            </li>
            <li><a routerLink="jQuery">jQuery</a></li>
        </ul>
    </nav>
    
</div>

<div class="router-container">
    <router-outlet></router-outlet>
</div>