<div class="nav-container">
    <nav>
        <ul>
            <li id="javaScript">JavaScript
                <ul class="submenu">
                    <li><a routerLink="javaScript:DOM">DOM MANIPULATION</a></li>
                    <li><a routerLink="javaScript:FREQUENTLY">MY FREQUENTLY USED</a></li>
                    <li>MORE TO COME SOON</li>
                </ul>
                
            </li>
            <li><a routerLink="jQuery">jQuery</a></li>
        </ul>
    </nav>
    
</div>
<div>
    <ul>
        <li><a routerLink="jQuery">jQuery</a></li>
    </ul>
    
</div>
<div class="router-container">
    <router-outlet></router-outlet>
</div>