<ul class="summary">
    <li> Over 20 years experience in Information Technology (10 years in front end development) that covered all facets of programming
    </li>
    <li>Proficient in Angular, JavaScript, Typescript, jQuery, HTML CSS
    </li>
    <li>Extremely high ability on critically analyze complex problems and debugging skill
    </li>
    <li>Excellent programmer with proven ability to develop robust programs in timely manner
    </li>
    <li>Demonstrated ability to learn and use new computer languages expeditiously
    </li>
</ul>
<p class="what-i-did">
    <svg height="5" width="100">
    <line x1="0" y1="0" x2="100" y2="0" style="stroke:#000;stroke-width:5" />
    Sorry, your browser does not support inline SVG.
  </svg><strong>&nbsp;&nbsp;&nbsp;Here's what I've done so far&nbsp;&nbsp;&nbsp;</strong>
  <svg height="5" width="100">
    <line x1="0" y1="0" x2="100" y2="0" style="stroke:#000;stroke-width:5" />
    Sorry, your browser does not support inline SVG.
  </svg>
</p>

<app-employmet-detail></app-employmet-detail>
