<div class="main">
    <h3>CALL, APPLY, BIND, CALLBACK, PROMISE</h3>
      <select  class="favorite" (change)="renderNewResult($event)">
        <option value="">Make your selection</option>
        <option value="callback">callback</option>
        <option value="call">call</option>
        <option value="apply">apply</option>
        <option value="bind">bind</option>
        <option value="polyfill for bind">polyfill for bind</option>
        <option value="promise">promise</option>
    </select>
    <div id="show-log" class="hide-log">
      <button class="btn" (click)="MyDecision()">Do my job as promised!</button>
      <button class="btn" (click)="MyDecision(true)">I am tired!</button>
      
      <div id="log"></div>
    </div>  
  <p>javaScript code</p>      
  <div id="code-snip">
  </div>
  <p>output</p>
  <div id="output">

  </div>
