.home-nav{
    position: fixed;
    background-color: #fff;
    box-shadow: 0 1px 3px rgba(0,0,0,.4);
    width: 100%;
    bottom:0;
}
.home-nav nav ul {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 10px;
    margin: 0;
}
.home-nav nav ul li {
    list-style: none;
    font-size: large;
}
.home-nav nav li a{
    padding: 5px;
    text-decoration: none;
}
.home-nav nav li a:hover{
    color: #3578CC;
}
@media all and (min-width: 600px) {
    .desc {
        position:absolute;
        top:50%;left:50%;
        transform: translate(-50%, -50%);
        color:#3578CC;
    
    }
    .i-am {
        font-size: 35px;
        font-style: italic;
        text-align: center;
    }
    .raymond-huang{
        font-size: 45px;
        font-weight: 700;
    }
}
@media all and (max-width: 599px) {
    .desc {
        position:absolute;
        top:50%;left:50%;
        transform: translate(-50%, -50%);
        color:#3578CC;
    
    }
    .i-am {
        font-size: 15px;
        font-style: italic;
        text-align: center;
    }
    .raymond-huang{
        font-size: 30px;
        font-weight: 700;
    } 
}

.img-container {
    margin-top: 30px;
}
img{
    width:100%;
}
