

<div class="img-container">
    <img class="mySlides" src="../../assets/images/4.jpg">
    <!--img class="mySlides" src="../../assets/images/3.jpg"-->
    <div class="desc">
        <div class="i-am">Hey, I'm</div>
        <div class="raymond-huang">Raymond Huang</div> 
    </div>
</div>
<div class="home-nav">
    <nav>
        <ul>
            <li><a routerLink="/employment">Employment</a></li>
            <li><a routerLink="/education">Education</a></li>
            <li><a routerLink="/detail">Detail</a></li>
        
        </ul>
    </nav>
</div>
<router-outlet></router-outlet>